<div class="card-columns">
  <% @images.each do |img| %>
      <div class="card">
        <%= link_to(image_tag(img.link, class: 'card__img card-img'), image_path(img) ) %>
      </div>
  <% end %>
</div>
